<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"
          href="../../static/css/main.css"/>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Delete Files</title>
</head>
<body>
<header>
    <th:block th:include="~{fragments/nav-bar}"></th:block>
</header>

<hr/>
<br>

<a class="inner-menu-item"  th:href="@{/home/sort}" href="#">
    <div class="button-holder mt-3 d-flex justify-content-left">
        <button type="submit" class="btn bg-black glow-button">Сортиране файлове по потребителско име</button>
    </div>
</a>

<form method="POST" th:action="@{/home/search}" th:method="GET">
    <input id="txtSearch" type="text" name="keyword"/>
    <button type="submit">Търсене</button>
</form>


<br/>
<h3>Списък на всички файлове</h3>
<div>
<table id="list" width="150px">
    <tr>
        <th>Име</th>
        <th>Потребителско име</th>
        <th>Дата на качване</th>
        <th>Изтегляне</th>
    </tr>
    <tr th:each="todo : ${list}">
        <td>
                <span th:text="${todo.name}">Name</span>
        </td>
        <td>
            <span th:text="${todo.user_name}">User</span>
        </td>
        <td>
            <span th:text="${todo.date}">Time</span>
        </td>
        <td>
            <a class="inner-menu-item"  th:href="@{/home/download/{id}(id=${todo.id})}" href="#">
                <div class="button-holder mt-3 d-flex justify-content-left">
                    <button type="submit" class="btn bg-black glow-button">Изтегляне</button>
                </div>
            </a>
            <span th:if="${todo.id == id}">
                  <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger"/>
            </span>

        </td>
    </tr>
</table>
</div>

<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>