<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset ="utf-8">
    <title>Side menu bar css</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>


<div class="sidebar">
    <header>My app</header>
    <ul>
        <li><a class="nav-link" th:href="@{/dash}"><i class="fas fa-qrcode"></i>Home</a></li>
        <li><a class="nav-link" th:href="@{/home/upload}"><i class="fas fa-link"></i>Upload</a></li>
        <li><a class="nav-link" th:href="@{/home/delete}"><i class="fas fa-stream"></i>Delete</a></li>
        <li><a class="nav-link" th:href="@{/logout}"><i class="fas fa-calendar-week"></i>Logout</a></li>

    </ul>
</div>

</body>
</html>