<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"
          href="../../static/css/main.css"/>
</head>
<body>

<div th:replace="fragments/header.html :: header"></div>
<div th:replace="fragments/navigation.html :: nav"></div>

<div id="container">
    <h3>To do, to do, todo todo todo todo todooo﻿</h3>

    <div class="submission-form">
        <form action="#" th:action="@{/todo/edit/{id}(id=${todo.id})}" th:object="${update}" method="POST">
            <label for="title">Title</label>
            <input type="text" id="title" title="Title" th:field="*{title}" th:value="${todo.title}">

            <label for="description">Description</label>
            <input type="text" id="description" title="Description" th:field="*{description}"
                   th:value="${todo.description}">

            <input type="submit" title="Create" value="Edit">
        </form>
    </div>

</div>

</body>
</html>